<% if book.errors.any? %>
  An error has occurred.
  <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>User info</h1>

 <%= image_tag user.get_profile_image(100,100) %>

<table class="table">
  <tbody>

    <tr></tr>

    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>

    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
  </tbody>
</table>

  <%= link_to edit_user_path(user), class: 'btn btn-outline-secondary btn-block' do %>
  <i class="fas fa-user-cog"></i>
  <% end %>


<h1>New book</h1>

  <%= form_with model: book do |f| %>
    <div class="form-group">
      <label for="inputTitle">Title</label><br>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
      <label for="inputOpinion">Opinion</label><br>
      <%= f.text_area :body %><br>
    </div>

    <div class="form-group">
      <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
    </div>
  <% end %>

